
*.pyc
*.~py
module1.py
Alien_Invasion/
HomeJob/Rocket/.vscode/settings.json
HomeJob/Shikari/.vscode/settings.json
HomeJob/Shikari/.vscode/settings.json
HomeJob/Shikari/.vscode/settings.json
HomeJob/Shikari/.vscode/settings.json
HomeJob/Shikari/.vscode/settings.json
HomeJob/Shikari/.vscode/settings.json
HomeJob/Shikari/.vscode/settings.json
HomeJob/Blobs/.vscode/settings.json
HomeJob/Shikari/.vscode/settings.json
HomeJob/Shikari/.vscode/settings.json
HomeJob/Blobs/.vscode/settings.json
HomeJob/Blobs/.vscode/settings.json
HomeJob/Shikari/.vscode/settings.json
HomeJob/Blobs/.vscode/launch.json
python_work/.vscode/settings.json
Автоматизация/.vscode/settings.json
Al Sweigart/.vscode/settings.json
Al Sweigart/.vscode/settings.json
Al Sweigart/.vscode/settings.json
Al Sweigart/mcb.bak
Al Sweigart/mcb.dat
Al Sweigart/mcb.dir
Al Sweigart/mcb.bak
Al Sweigart/.vscode/settings.json
Al Sweigart/.vscode/settings.json
Al Sweigart/.vscode/settings.json
Al Sweigart/.vscode/settings.json
Al Sweigart/.vscode/settings.json
Al Sweigart/xkcd/chemistry.png
Al Sweigart/geckodriver.log
Al Sweigart/geckodriver.log
Al Sweigart/geckodriver.log
Py.srctrlprj
